@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFBF0;
}

/* Animación para los 3 puntitos */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8B5CF6;
  color: #8B5CF6;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8B5CF6;
  color: #8B5CF6;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8B5CF6;
  color: #8B5CF6;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% { background-color: #8B5CF6; }
  50%, 100% { background-color: #E2E8F0; }
}

/* Utilidad para scrollbar limpia */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0F172A;
  border-radius: 20px;
  border: 2px solid #FFFBF0;
}
